@function rem($px){
  @return $px/46.875+rem
}
.big-nav{
  height:rem(80);
}
.content{
  width: 100%;
  height: rem(80);
  border-bottom: 1px solid rgba(7,17,27,0.1);
  position: fixed;
  z-index:999;
  background: #fff;
  ul{
    width: 100%;
    li{
      a{
        text-align: center;
        float: left;
        width: 33.3%;
        color: rgb(77,85,93);
        font-size: rem(28);
        line-height: rem(80);
        text-decoration: none;
      }
    }
    li:hover a{

        color: rgb(220,20,20);

    }
    .actives{
      a{
        color: rgb(220,20,20);
      }
    }
  }
}
