header {
  position: relative;
  width: 100%;
  height: 5.71733rem;
  background: url("../img/1.jpg");
  background-size: 100% 100%; }
  header .header-background {
    position: absolute;
    width: 100%;
    height: 5.71733rem;
    background: rgba(7, 17, 27, 0.5);
    top: 0;
    left: 0; }
    header .header-background .header {
      position: relative;
      top: 1.024rem;
      left: 1.024rem;
      bottom: 0.768rem;
      right: 0.68267rem;
      width: 13.39733rem;
      height: 2.73067rem;
      border-radius: 0.08533rem; }
      header .header-background .header .header-logo {
        width: 2.73067rem;
        height: 2.73067rem;
        border-radius: 0.08533rem;
        background: url("../img/1.jpg");
        background-size: 100% 100%;
        bottom: 0.768rem;
        right: 0.68267rem;
        float: left; }
      header .header-background .header ul {
        float: left;
        font-size: 0.21333rem; }
        header .header-background .header ul li:first-child {
          margin: 0.08533rem 0.256rem 0.34133rem 0.68267rem;
          width: 1.28rem;
          display: inline-block;
          height: 0.768rem;
          background: url("../img/brand@2x.png");
          background-size: 100% 100%; }
          header .header-background .header ul li:first-child span {
            color: #fff;
            font-size: 0.68267rem;
            padding-left: 1.49333rem;
            font-weight: bold;
            line-height: 0.768rem;
            display: inline-block;
            width: 6.4rem; }
        header .header-background .header ul li:nth-child(2) {
          color: #fff;
          font-size: 0.512rem;
          font-weight: 200;
          line-height: 0.512rem;
          padding-left: 0.68267rem; }
        header .header-background .header ul li:nth-child(3) {
          margin: 0.192rem 0.256rem 0.08533rem 0.68267rem;
          width: 0.85333rem;
          display: inline-block;
          height: 0.768rem;
          background: url("../img/decrease_1@2x.png");
          background-size: 100% 100%; }
          header .header-background .header ul li:nth-child(3) span:nth-child(1) {
            color: #fff;
            font-size: 0.42667rem;
            padding-left: 0.96rem;
            margin-top: 0.192rem;
            font-weight: 200;
            line-height: 0.512rem;
            display: inline-block;
            width: 6.82667rem; }
          header .header-background .header ul li:nth-child(3) span:nth-child(2) {
            position: absolute;
            right: 0;
            bottom: -0.04267rem;
            color: #fff;
            width: 1.92rem;
            line-height: 1.024rem;
            font-size: 0.42667rem;
            border-radius: 0.512rem;
            text-align: center;
            height: 1.024rem;
            border: 1px solid #ccc;
            background: rgba(0, 0, 0, 0.2);
            font-weight: 200; }
    header .header-background .bulletin {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1.19467rem;
      background: rgba(7, 17, 27, 0.2);
      display: inline-block; }
      header .header-background .bulletin img {
        width: 1.06667rem;
        height: 0.53333rem;
        padding-left: 0.512rem;
        float: left;
        margin-top: 0.34133rem; }
      header .header-background .bulletin span:nth-child(2) {
        color: #fff;
        font-size: 0.42667rem;
        font-weight: 200;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 12.16rem;
        line-height: 1.19467rem;
        float: left;
        padding-left: 0.17067rem; }
      header .header-background .bulletin span:nth-child(3) {
        float: right;
        line-height: 1.19467rem;
        margin-right: 0.512rem;
        color: #fff;
        font-size: 0.42667rem; }

.content {
  width: 100%;
  height: 1.70667rem;
  border-bottom: 1px solid rgba(7, 17, 27, 0.1); }
  .content ul {
    width: 100%; }
    .content ul li {
      text-align: center;
      float: left;
      width: 33.3%;
      color: #4d555d;
      font-size: 0.59733rem;
      line-height: 1.70667rem; }
    .content ul li:first-child {
      color: #dc1414; }

.swiper-left {
  width: 3.41333rem;
  background: #f3f5f7;
  float: left;
  font-size: 0.512rem;
  color: #4d555d;
  font-weight: 200; }
  .swiper-left .goods-left {
    overflow: auto;
    height: 100%; }
    .swiper-left .goods-left div span {
      display: inline-block;
      height: 2.304rem;
      line-height: 2.304rem;
      width: 2.38933rem;
      padding: 0rem 0.08533rem 0.21333rem 0.08533rem;
      border-bottom: 1px solid rgba(7, 17, 27, 0.1);
      margin-left: 0.512rem; }
      .swiper-left .goods-left div span img {
        width: 0.64rem;
        height: 0.64rem;
        position: relative;
        top: 0.10667rem; }
    .swiper-left .goods-left .active {
      background: #fff; }
    .swiper-left .goods-left .line {
      line-height: 1.024rem;
      padding-top: 0.64rem;
      border: none; }

.swiper-right {
  float: left;
  width: 11.52rem; }
  .swiper-right .nav {
    width: 100%;
    background: #f3f5f7; }
    .swiper-right .nav div {
      height: 1.10933rem;
      display: inline-block;
      border-left: 4px solid #d9dde1;
      padding-left: 0.59733rem;
      font-size: 0.512rem;
      color: #93999f;
      font-weight: normal;
      line-height: 1.10933rem; }
  .swiper-right .message {
    height: 4.69333rem;
    background: #fff;
    position: relative; }
    .swiper-right .message .message-main {
      position: absolute;
      top: 0.768rem;
      left: 0.768rem;
      right: 0.768rem;
      bottom: 0.768rem;
      width: 10.66667rem; }
      .swiper-right .message .message-main .message-logo {
        float: left;
        width: 2.73067rem;
        height: 2.73067rem;
        background: url("../../index/img/page (2).png") 100% 100%;
        background-size: 100% 100%; }
      .swiper-right .message .message-main ul {
        position: relative; }
        .swiper-right .message .message-main ul li:nth-child(1) {
          width: 100%;
          position: relative;
          top: 0.08533rem;
          left: 0.21333rem;
          font-size: 0.59733rem;
          color: #07111b;
          line-height: 0.59733rem; }
        .swiper-right .message .message-main ul li:nth-child(2) {
          font-size: 0.42667rem;
          color: #93999f;
          margin: 0.32rem 0 0 2.98667rem; }
        .swiper-right .message .message-main ul li:nth-child(3) span {
          display: inline-block;
          font-size: 0.42667rem;
          color: #93999f;
          margin: 0 0.512rem 0 0.21333rem; }
        .swiper-right .message .message-main ul li:nth-child(4) span:nth-child(1) {
          display: inline-block;
          font-size: 0.59733rem;
          color: #f01414;
          margin-top: 0.42667rem;
          font-weight: 700; }
        .swiper-right .message .message-main ul li:nth-child(4) span:nth-child(2) {
          padding-left: 0.21333rem;
          font-size: 0.42667rem;
          color: #93999f;
          line-height: 1.024rem;
          font-weight: 700;
          text-decoration: line-through; }
        .swiper-right .message .message-main ul li:nth-child(4) span:nth-child(3) {
          margin-left: 1.49333rem;
          display: inline-block;
          text-align: center;
          line-height: 0.81067rem;
          font-size: 0.46933rem;
          border-radius: 50%;
          width: 0.85333rem;
          height: 0.85333rem;
          color: #00a0dc;
          border: 2px solid #00a0dc; }
        .swiper-right .message .message-main ul li:nth-child(4) span:nth-child(4) {
          padding: 0.512rem;
          font-size: 0.42667rem;
          color: #93999f;
          line-height: 1.024rem; }
        .swiper-right .message .message-main ul li:nth-child(4) span:nth-child(5) {
          display: inline-block;
          text-align: center;
          line-height: 0.81067rem;
          font-size: 0.46933rem;
          border-radius: 50%;
          width: 0.85333rem;
          height: 0.85333rem;
          background: #00a0dc;
          color: #fff;
          border: 2px solid #00a0dc; }

.footer {
  width: 100%;
  height: 2.13333rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background: #141d27; }
  .footer .font {
    width: 1.87733rem;
    height: 1.87733rem;
    border-radius: 50%;
    margin-left: 0.768rem;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 1.87733rem;
    float: left; }
  .footer .price {
    padding-left: 0.768rem;
    font-size: 0.68267rem;
    float: left;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 700;
    line-height: 1.024rem;
    margin-top: 0.512rem; }
  .footer .delivery-cost {
    float: left;
    font-size: 0.68267rem;
    line-height: 1.024rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.4);
    margin: 0.512rem;
    border-left: 1px solid rgba(255, 255, 255, 0.1);
    padding-left: 0.512rem; }
  .footer .currency {
    float: right;
    font-size: 0.512rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.4);
    font-weight: 700;
    line-height: 1.024rem;
    padding: 0.55467rem;
    background-color: rgba(255, 255, 255, 0.2); }

.iconfont {
  font-family: "iconfont" !important;
  font-size: 1.024rem;
  font-style: normal;
  color: rgba(255, 255, 255, 0.4);
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

/*# sourceMappingURL=page.css.map */
