@import "../../index/css/verical";
@function rem($px){
  @return $px/46.875+rem
}
html{
  font-family: 'PingFang SC', 'STHeitiSC-Light', 'Helvetica-Light', Arial, sans-serif
}
.big-header{
height:rem(268);
}
header{
  position: fixed;
  width:100%;
  height:rem(268);
  background: url("../img/1.jpg");
  background-size: 100% 100%;
  z-index: 999;
  .header-background{
    position: absolute;
    width:100%;
    height:rem(268);
    background: rgba(7,17,27,0.5);
    top:0;
    left:0;
    //filter: blur(10px);
    .header{
      position: relative;
      top:rem(48);
      left: rem(48);
      bottom: rem(36);
      right:rem(32);
      width:rem(640);
      height:rem(128);
      border-radius: rem(4);
      .header-logo{
        width:rem(128);
        height:rem(128);
        border-radius: rem(4);
        background: url("../img/1.jpg");
        background-size: 100% 100%;
        bottom: rem(36);
        right:rem(32);
        float: left;
      }
      ul{
        float: left;
        font-size: rem(10);
        li:first-child{
          margin:rem(4) rem(12) rem(16) rem(32);
          width:rem(60);
          display: inline-block;
          height: rem(36);
          @include bg-img('../img/brand');
          //background: url("../img/brand@2x.png");
          background-size: 100% 100%;
          span{
            color: #fff;
            font-size: rem(32);
            padding-left: rem(70);
            font-weight: bold;
            line-height: rem(36);
            display: inline-block;            width: rem(300);
          }
        }
        li:nth-child(2){
          color: #fff;
          font-size: rem(24);
          font-weight: 200;
          line-height: rem(24);
          padding-left:rem(32) ;
        }
        li:nth-child(3){
          margin:rem(9) rem(12) rem(4) rem(32);
          width:rem(40);
          display: inline-block;
          height: rem(36);
          @include bg-img('../img/decrease_1');
          //background: url("../img/decrease_1@2x.png");
          background-size: 100% 100%;
          span:nth-child(1){
            color: #fff;
            font-size: rem(20);
            padding-left: rem(45);
            margin-top: rem(9);
            font-weight: 200;
            line-height: rem(24);
            display: inline-block;
            width: rem(330);
          }
          span:nth-child(2){
            position: absolute;
            right:0;
            bottom:rem(-2);
            color: #fff;
            width: rem(90);
            line-height: rem(48);
            font-size: rem(20);
            border-radius: rem(24);
            text-align: center;
            height: rem(48);
            border: 1px solid #ccc;
            background: rgba(0,0,0,0.2);
            font-weight: 200;
          }
        }
      }
    }
    .bulletin{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: rem(56);
      background: rgba(7,17,27,0.2);
      //border: 1px solid red;
      display: inline-block;
      img{
        width: rem(50);
        height: rem(25);
        padding-left: rem(24);
        float: left;
        margin-top: rem(16);
      }
      span:nth-child(2){
        color: #fff;
        font-size: rem(20);
        font-weight: 200;
        display: inline-block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: rem(570);
        line-height: rem(56);
        float: left;
        padding-left: rem(8);
      }
      span:nth-child(3){
        float: right;
        line-height: rem(56);
        margin-right: rem(24);
        color: #fff;
        font-size: rem(20);
      }
    }
  }
}

.fired-fix:after{
  content: '';
  display: block;
  height: 0;
  overflow: auto;
  clear: both;
}
.iconfont {
  font-family:"iconfont" !important;
  font-size:rem(48);
  font-style:normal;
  color: rgba(255,255,255,0.4);
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
